Django==1.5.1
South==0.8.2
django-appmedia==1.0.1
django-bootstrap-form==2.0.6
django-classy-tags==0.4
django-cms==2.4.2
django-mptt==0.5.2
django-sekizai==0.7
django-tables2==0.14.0
html5lib==1.0b3
mysql-python==1.2.4
python-memcached==1.53
six==1.4.0
