 <html>
     <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-3.0.0.css">
    </head>
<body>
<h1>Styles check</h1>
<div class="col-lg-6 col-lg-offset-3">
    <h2>bootstrap is on! </h2>
</div>
<table class="table table-hovered table-bordered">
    <tr>
        <td>Imie</td>
        <td>Nazwisko</td>
        <td>nr tel</td>
        <td> adres</td>
    </tr>
    <tr>
        <td>Mateusz</td>
        <td>Dargacz</td>
        <td>798 589 275</td>
        <td>Goscicino zielona 17</td>
    </tr>
</table>
</body>
 </html>
